# Dataset
data/

# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Model files
*.h5
*.keras

# Outputs
outputs/

# Notebook checkpoints
.ipynb_checkpoints/

.env

# Model checkpoints (اختياري)
*.pth

# Torch history (اختياري)
*.pt

# Logs
*.log

# Temporary files
temp/